.row-fluid
  %h4
    Customer Search Result
  %table.table.table-bordered.table-striped.tabled-condensed
    %thead
      %th.span2
        Customer Name
      %th.span3
        Customer Email
      %th.span3
        Actions
    %tbody
      = render :partial => :customer, :collection => @customers

