.row-fluid{:style => 'padding-bottom:5px'}
  %h4
    List Of Customers
    = link_to "Add Customer", new_customer_path, :class => 'btn btn-primary',:style => 'float:right'
.row-fluid
  %table.table.table-striped.table-condensed.table-bordered#guest
    %thead
      %th.span2
        Full Name
      %th.span4
        Email Address
      %th.span4
        Actions
    %tbody
      = render :partial => 'customer', :collection => @customers
:javascript
  $('#guest').dataTable({
  "sPaginationType": "full_numbers",
  "aLengthMenu": [10,20,50],
  "iDisplayLength": 50
  });

